# Folders
/.history/
/.tmp/
.nuxt
.output
dist
node_modules
.reports

# IntelliJ project files
.idea
*.iml
out
gen

# Node template
# Logs
logs
*.log
*.log.*

# Files
.DS_Store
.scannerwork

sw.*
packages/app/.certs/*
!packages/app/.certs/README.md

.env
.eslintcache
dist
