{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order"
  ],
  "customSyntax": "postcss-html",
  "ignoreFiles": [
    "./**/*.js"
  ],
  "rules": {
    "max-empty-lines": null,
    "no-descending-specificity": null,
    "value-keyword-case": [
      "lower",
      {
        "camelCaseSvgKeywords": true
      }
    ],
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": [
          "em",
          "vw",
          "number",
          "deep",
          "global"
        ]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global",
          "deep"
        ]
      }
    ],
    "max-line-length": null
  }
}