@font-face {
  font-family: "Amiga Topaz 13";
  src: url("~assets/fonts/Amiga-Topaz-13/Amiga-Topaz-13.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Amiga Topaz 13 Console";
  src: url("~assets/fonts/Amiga-Topaz-13-Console/Amiga-Topaz-13-Console.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
