.wb_symbol_directory,
.wb_symbol_directory_prefs {
  & .svg__primary {
    fill: var(--workbenchColor_1);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_2);
  }

  & .svg__open {
    visibility: hidden;
  }

  & .svg__close {
    visibility: visible;
  }

  @nest .js--symbol-used & {
    & .svg__open {
      visibility: visible;
    }

    & .svg__close {
      visibility: hidden;
    }
  }
}

.wb_symbol_directory_prefs {
  & .svg__tertiary {
    fill: var(--workbenchColor_4);
  }
}

.wb_symbol_disk_1 {
  & .svg__primary {
    fill: var(--workbenchColor_2);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_1);
  }

  & .svg__tertiary {
    fill: var(--workbenchColor_4);
  }
}

.wb_symbol_disk_2 {
  & .svg__primary {
    fill: var(--workbenchColor_2);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_1);
  }

  & .svg__tertiary {
    fill: var(--workbenchColor_4);
  }

  & .svg__open {
    visibility: hidden;
  }

  & .svg__close {
    visibility: visible;
  }

  @nest .js--symbol-used & {
    & .svg__open {
      visibility: visible;
    }

    & .svg__close {
      visibility: hidden;
    }
  }
}

.wb_symbol_disk_workbench13 {
  & .svg__primary {
    fill: var(--workbenchColor_2);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_1);
  }

  & .svg__tertiary {
    fill: var(--workbenchColor_4);
  }

  & .svg__quaternary {
    fill: var(--workbenchColor_3);
  }

  & .svg__open {
    visibility: hidden;
  }

  & .svg__close {
    visibility: visible;
  }

  @nest .js--symbol-used & {
    & .svg__open {
      visibility: visible;
    }

    & .svg__close {
      visibility: hidden;
    }
  }
}

.wb_symbol_disk_markdown {
  & .svg__primary {
    fill: var(--workbenchColor_2);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_1);
  }

  & .svg__tertiary {
    fill: var(--workbenchColor_4);
  }

  & .svg__quaternary {
    fill: var(--workbenchColor_3);
  }

  & .svg__open {
    visibility: hidden;
  }

  & .svg__close {
    visibility: visible;
  }

  @nest .js--symbol-used & {
    & .svg__open {
      visibility: visible;
    }

    & .svg__close {
      visibility: hidden;
    }
  }
}

.wb_symbol_disk_basic {
  & .svg__primary {
    fill: var(--workbenchColor_2);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_1);
  }

  & .svg__tertiary {
    fill: var(--workbenchColor_4);
  }

  & .svg__quaternary {
    fill: var(--workbenchColor_3);
  }

  & .svg__open {
    visibility: hidden;
  }

  & .svg__close {
    visibility: visible;
  }

  @nest .js--symbol-used & {
    & .svg__open {
      visibility: visible;
    }

    & .svg__close {
      visibility: hidden;
    }
  }
}

.wb_symbol_work {
  & .svg__primary {
    fill: var(--workbenchColor_1);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_4);
  }

  & .svg__tertiary {
    fill: var(--workbenchColor_2);
  }
}

.wb_symbol_trashcan {
  & .svg__primary {
    fill: var(--workbenchColor_4);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_2);
  }

  & .svg__open {
    visibility: hidden;
  }

  & .svg__close {
    visibility: visible;
  }

  @nest .js--symbol-used & {
    & .svg__open {
      visibility: visible;
    }

    & .svg__close {
      visibility: hidden;
    }
  }
}

.wb_symbol_note {
  & .svg__primary {
    fill: var(--workbenchColor_1);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_2);
  }
}

.wb_symbol_note_blank {
  & .svg__primary {
    fill: var(--workbenchColor_1);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_2);
  }
}

.wb_symbol_console {
  & .svg__primary {
    fill: var(--workbenchColor_2);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_3);
  }

  & .svg__tertiary {
    fill: var(--workbenchColor_1);
  }
}

.wb_symbol_fullscreen {
  & .svg__primary {
    fill: var(--workbenchColor_1);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_2);
  }
}

.wb_symbol_calculator {
  & .svg__primary {
    fill: var(--workbenchColor_2);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_1);
  }
}

.wb_symbol_clock {
  & .svg__primary {
    fill: var(--workbenchColor_2);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_1);
  }

  & .svg__tertiary {
    fill: var(--workbenchColor_4);
  }
}

.wb_symbol_more {
  & .svg__primary {
    fill: var(--workbenchColor_2);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_1);
  }

  & .svg__tertiary {
    fill: var(--workbenchColor_4);
  }
}

.wb_symbol_say {
  & .svg__primary {
    fill: var(--workbenchColor_2);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_1);
  }
}

.wb_symbol_cloud {
  & .svg__primary {
    fill: var(--workbenchColor_1);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_2);
  }
}

.wb_symbol_web_basic {
  & .svg__primary {
    fill: var(--workbenchColor_2);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_1);
  }
}

.wb_symbol_github {
  & .svg__primary {
    fill: var(--workbenchColor_2);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_1);
  }
}

.wb_symbol_lammpee {
  & .svg__primary {
    fill: var(--workbenchColor_2);
  }

  & .svg__secondary {
    fill: var(--workbenchColor_1);
  }

  & .svg__tertiary {
    fill: var(--workbenchColor_4);
  }
}
