:root {
  --color__symbol__primary: #fff; /* 1 */
  --color__symbol__secondary: #000; /* 2 */
  --color__symbol__tertiary: #fa5; /* 4 */
  --color__symbol__quaternary: #05a; /* 3 */

}

.wb_symbol_directory,
.wb_symbol_directory_prefs {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__open {
    visibility: hidden;
  }

  & .svg__close {
    visibility: visible;
  }

  @nest .js--symbol-used & {
    & .svg__open {
      visibility: visible;
    }

    & .svg__close {
      visibility: hidden;
    }
  }
}

.wb_symbol_directory_prefs {
  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}

.wb_symbol_disk_1 {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}

.wb_symbol_disk_2 {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__open {
    visibility: hidden;
  }

  & .svg__close {
    visibility: visible;
  }

  @nest .js--symbol-used & {
    & .svg__open {
      visibility: visible;
    }

    & .svg__close {
      visibility: hidden;
    }
  }
}

.wb_symbol_disk_workbench13 {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }

  & .svg__open {
    visibility: hidden;
  }

  & .svg__close {
    visibility: visible;
  }

  @nest .js--symbol-used & {
    & .svg__open {
      visibility: visible;
    }

    & .svg__close {
      visibility: hidden;
    }
  }
}

.wb_symbol_disk_markdown {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }

  & .svg__open {
    visibility: hidden;
  }

  & .svg__close {
    visibility: visible;
  }

  @nest .js--symbol-used & {
    & .svg__open {
      visibility: visible;
    }

    & .svg__close {
      visibility: hidden;
    }
  }
}

.wb_symbol_disk_basic {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }

  & .svg__open {
    visibility: hidden;
  }

  & .svg__close {
    visibility: visible;
  }

  @nest .js--symbol-used & {
    & .svg__open {
      visibility: visible;
    }

    & .svg__close {
      visibility: hidden;
    }
  }
}

.wb_symbol_work {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}

.wb_symbol_trashcan {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__open {
    visibility: hidden;
  }

  & .svg__close {
    visibility: visible;
  }

  @nest .js--symbol-used & {
    & .svg__open {
      visibility: visible;
    }

    & .svg__close {
      visibility: hidden;
    }
  }
}

.wb_symbol_note {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }
}

.wb_symbol_note_blank {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }
}

.wb_symbol_large_note {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }
}

.wb_symbol_large_note_rich {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}

.wb_symbol_console {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}

.wb_symbol_fullscreen {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}

.wb_symbol_calculator {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }
}

.wb_symbol_clock {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}

.wb_symbol_more {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}

.wb_symbol_say {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }
}

.wb_symbol_cloud,
.wb_symbol_cloud_disk {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }
}

.wb_symbol_web_basic {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }
}

.wb_symbol_web_painting {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}

.wb_symbol_github {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }
}

.wb_symbol_lammpee {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}

.wb_symbol_image {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}

.wb_symbol_basic {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}

.wb_symbol_colors {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}

.wb_symbol_notepad {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}

.wb_symbol_print_1 {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}

.wb_symbol_print_2 {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}


.wb_symbol_settings {
  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}

.wb_symbol_sign_1 {
  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}



.wb_symbol_display_keyboard {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }

}

.wb_symbol_copy_1 {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}

.wb_symbol_copy_2 {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}

.wb_symbol_disallow_1 {
  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }
}



.wb_symbol_clown {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }

  & .svg__open {
    visibility: hidden;
  }

  & .svg__close {
    visibility: visible;
  }

  @nest .js--symbol-used & {
    & .svg__open {
      visibility: visible;
    }

    & .svg__close {
      visibility: hidden;
    }
  }
}

.wb_symbol_keyboard_question {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}

.wb_symbol_large_notepad,
.wb_symbol_large_notepad_help {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}

.wb_symbol_palette {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}

.wb_symbol_rabbit {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}

.wb_symbol_computer_1 {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}

.wb_symbol_cursor {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}

.wb_symbol_preference {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}

.wb_symbol_telephone {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}


.wb_symbol_document_editor {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}


.wb_symbol_document_reader {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}


/*
.wb_symbol_nuxt {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}

.wb_symbol_cuby {
  & .svg__primary {
    fill: var(--color__symbol__primary);
  }

  & .svg__secondary {
    fill: var(--color__symbol__secondary);
  }

  & .svg__tertiary {
    fill: var(--color__symbol__tertiary);
  }

  & .svg__quaternary {
    fill: var(--color__symbol__quaternary);
  }
}
*/

