[package]
name = "wasm"
version = "0.0.0"
edition = "2024"
repository = "https://github.com/ThornWalli/web-workbench"
license = "MIT"


[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
rand = "=0.9.2"
getrandom = { version = "=0.3.4", features = ["wasm_js"] }
wasm-bindgen = { version = "=0.2.106" }
js-sys = "=0.3.83"
web-sys = { version = "=0.3.83", features = ["WorkerGlobalScope", "console"] }
image = { version = "=0.25.9", default-features = false, features = ["png", "jpeg"] }
imageproc = "=0.26.0"
rayon = "=1.11.0"
serde = { version = "=1.0.228", features = ["derive"] }
serde-wasm-bindgen = "=0.6.5"


[dev-dependencies]
cargo-watch = "=8.5.3"


[features]
threads = ["wasm-bindgen/enable-interning"]
